@model Sistema_Liquidacion_de_Haberes.Models.DbFunctions.ViewModelCreateEmployee

@{ 
    ViewBag.Title = "Create";
}

<h2>Crear Empleado</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <fieldset>
        <legend>Datos Personales:</legend>

         <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cuil, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Cuil, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos Laborales:</legend>

        @Html.Partial("_LugarTrabajo")

        <div class="form-group">
            @Html.LabelFor(model => model.Antiguedad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Antiguedad, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Antiguedad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_ObrasSociales")
        @Html.HiddenFor(model => model.IdObraSocial, new { @id = "idObraSocial" })
        @Html.ValidationMessageFor(model => model.IdObraSocial, "", new { @class = "text-danger" })

        @Html.Partial("_Bancos")
        @Html.HiddenFor(model => model.IdBanco, new { @id = "idBancos" })
        @Html.ValidationMessageFor(model => model.IdBanco, "", new { @class = "text-danger" })

        @Html.Partial("_Categorias")
        @Html.HiddenFor(model => model.IdCategoria, new { @id = "idCategorias"})
        @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
    </fieldset>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Empleado" class="btn btn-success" /> |
            @Html.ActionLink("Volver al inicio", "Index", "Home", new { area = "" }, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
}