@model Sistema_Liquidacion_de_Haberes.Models.DbFunctions.ViewModelEmployee

@{
    ViewBag.Title = "Delete";
}

<h2>Dar de baja el empleado</h2>
<br />

<h3>¿Está seguro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.IdEmpleado)

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legajo)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Dar de baja" class="btn btn-danger" /> |
            @Html.ActionLink("Retornar el Inicio", "Index", new { }, new { @class = "btn btn-info" })
        </div>
    }
</div>
