@model Sistema_Liquidacion_de_Haberes.Models.DbFunctions.ViewModelEmpleado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antiguedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antiguedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEgreso)
        </dt>

        @if (Model.FechaEgreso == null)
        {
            <dd>
                @Html.DisplayText("No corresponde")
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.FechaEgreso)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.NombreSector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObraSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cbu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cbu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { idEmpleado = Model.IdEmpleado }) |
    @Html.ActionLink("Retornar al inicio", "Index")
</p>
