@model IEnumerable<Sistema_Liquidacion_de_Haberes.Models.DbFunctions.ViewModelEmployee>

@{ 
    ViewBag.Title = "Home Page";
}


<h2>Lista de Empleados</h2>
<hr />
<p>
    @Html.ActionLink("Crear nuevo", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.LugarTrabajo)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Legajo)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.ObraSocial)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.NombreSector)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th class="align-middle">
                @Html.DisplayName("OPCIONES")
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LugarTrabajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Legajo)
                    </td>
                    <td>
                        @Html.DisplayName(item.FechaIngreso.ToString("dd/MM/yyyy"))
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ObraSocial)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NombreSector)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCategoria)
                    </td>

                    @if (item.Activo == true)
                    {
                        <td>
                            @Html.DisplayName("SI")
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayName("NO")
                        </td>
                    }
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { idEmpleado = item.IdEmpleado }) |
                    @Html.ActionLink("Details", "Details", new { idEmpleado = item.IdEmpleado }) |
                    @Html.ActionLink("Dar de baja", "Delete", new { idEmpleado = item.IdEmpleado })*@
                        <table class="table table-borderless table-sm">
                            <tr>
                                <td><a href="@Url.Action("Details", "Home", new { idEmpleado = item.IdEmpleado })"><i class="fas fa-info"></i></a></td>
                                @if (item.Activo == true)
                                {
                                    <td><a href="@Url.Action("Delete", "Home", new { idEmpleado = item.IdEmpleado })"><i class="fas fa-user-times"></i></a></td>
                                }
                            </tr>
                            <tr>
                                @if (item.Activo == true)
                                {
                                    <td><a href="@Url.Action("Edit", "Home", new { idEmpleado = item.IdEmpleado })"><i class="far fa-edit"></i></a></td>
                                }
                                @*@Html.ActionLink("Recibo", "LayoutRecibo", new { idEmpleado = item.IdEmpleado })*@
                                @if (item.Activo == true)
                                {
                                    <td><a onclick="window.open('@Url.Action("ObtenerReciboDeSueldo", "Home",new { idEmpleado = item.IdEmpleado })')"><i class="fas fa-file-pdf"></i></a></td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10">
                    No se han encontrado resultados.
                </td>
            </tr>
        }
    </tbody>

</table>
