@model IEnumerable<Sistema_Liquidacion_de_Haberes.Models.DbModels.empleados>


<h2>Lista de Empleados</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lugarTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.legajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obrasSociales_idobrasSociales)
            </th>
            <th>
                @Html.DisplayName("SECTOR")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categorias_idcategorias)
            </th>
            <th>
                @Html.DisplayName("ACTIVO")
            </th>
            <th>
                @Html.DisplayName("OPCIONES")
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lugarTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.legajo)
            </td>
            <td>
                @{
                    var date = item.fechaIngreso.Day + "/" + item.fechaIngreso.Month + "/" + item.fechaIngreso.Year;
                }
                @Html.DisplayName(@date)
            </td>

            @using (Ajax.BeginForm("RetornarObraSocial", "Home",
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "resultado-obra-social"
                    }))
            {
                <td id="resultado-obra-social">

                </td>
            }

            @using (Ajax.BeginForm("RetornarSector", "Home",
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "resultado-sector"
                    }))
            {
                <td id="resultado-sector">

                </td>
            }

            @using (Ajax.BeginForm("RetornarCategoria", "Home",
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "resultado-categoria"
                    }))
            {
                <td id="resultado-categoria">

                </td>
            }

            @if (item.activo == true)
            {
                <td>
                    @Html.DisplayName("SI")
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayName("NO")
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13">
                    No se han encontrado resultados.
                </td>
            </tr>
        }
    </tbody>

</table>
