@model IEnumerable<Sistema_Liquidacion_de_Haberes.Models.DbModels.empleados>


<h2>Lista de Empleados</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lugarTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cuil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.legajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.antiguedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEgreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obrasSociales_idobrasSociales)
            </th>
            <th>
                @Html.DisplayName("SECTOR")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categorias_idcategorias)
            </th>
            <th>
                @Html.DisplayName("ACTIVO")
            </th>
            <th>
                @Html.DisplayName("OPCIONES")
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lugarTrabajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cuil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.legajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.antiguedad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaEgreso)
                    </td>
                    <td>
                        @using (Ajax.BeginForm("RetornarObraSocial", "Home",
                            new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "resultado-obra-social"
                            }))
                        {
                            <span id="resultado-obra-social"></span>
                        }
                    </td>

                    <td>
                        @using (Ajax.BeginForm("RetornarSector", "Home",
                            new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "resultado-sector"
                            }))
                        {
                            <span id="resultado-sector"></span>
                        }
                    </td>

                    <td>
                        @using (Ajax.BeginForm("RetornarCategoria", "Home",
                            new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "resultado-categoria"
                            }))
                        {
                            <span id="resultado-categoria"></span>
                        }
                    </td>

                    @if (item.activo == new byte[] { 1 })
                    {
                        <td>
                            @Html.Display("SI");
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.Display("NO");
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13">
                    No se han encontrado resultados.
                </td>
            </tr>
        }
    </tbody>

</table>
