<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="mt-0">
    <header class="bg-dark p-3">
        <div class="container">
            @Html.ActionLink("Sistema de Liquidación de Haberes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-uppercase font-weight-bold text-decoration-none text-white" })
        </div>
    </header>
    
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Liquidación de Haberes</p>
        </footer>
    </div>

    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @{
        var currentUrl = HttpContext.Current.Request.Url.AbsolutePath;
    }

    @switch (currentUrl)
    {
        case "/Home/Create":
            @Scripts.Render("~/Scripts/scripts-create.js")
            break;
        case "/Home/Edit":
            @Scripts.Render("~/Scripts/scripts-edit.js")
            break;
    }

    @RenderSection("scripts", required: false)
</body>
</html>
