@model Sistema_Liquidacion_de_Haberes.Models.DbFunctions.ViewModelEditEmployee

<div class="form-group">
    <label for="ObrasSociales" class="control-label col-md-2 text-uppercase">Obra Social</label>

    <div class="col-md-10">
        @Html.DisplayName("Swiss Medical")
        @Html.RadioButton("ObrasSociales", "", false, htmlAttributes: new { @id = "swiss" })
        <br />
        @Html.DisplayName("OSDE")
        @Html.RadioButton("ObrasSociales", "", false, htmlAttributes: new { @id = "osde" })
        <br />
        @Html.DisplayName("Galeno")
        @Html.RadioButton("ObrasSociales", "", false, htmlAttributes: new { @id = "galeno" })
    </div>
</div>

<script>
    if (@Model.IdObraSocial == 1) {
        document.getElementById("swiss").checked = true;
    }

    if (@Model.IdObraSocial == 2) {
        document.getElementById('osde').checked = true;
    }

    if (@Model.IdObraSocial == 3) {
        document.getElementById('galeno').checked = true;
    }
</script>
