@model Sistema_Liquidacion_de_Haberes.Models.DbFunctions.ViewModelRecibo

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Sueldo</title>
    @*<link href="~/Content/recibo.css" rel="stylesheet">*@
    @*@Styles.Render(@Server.MapPath(@"C:\Users\bruni\source\repos\Sistema Liquidacion de Haberes\Sistema Liquidacion de Haberes\Content\recibo.css"))*@
    @Styles.Render("~/Content/recibo.css")

</head>
<body>
    <div class="contenedor">
        <div class="recibo-haberes">
            <div class="contenido-recibo">
                <h2 class="centrar-texto mayuscula">Recibo de Haberes</h2>
                <div class="empresa-periodo">
                    <div class="datos-empresa">
                        <h3>Empresa de Práctica S.A.</h3>
                        <h3>N° de C.U.I.T.: 30-66350121-2</h3>
                        <h3>Domicilio: Viamonte 134 P.B. Capital Federal</h3>
                    </div>
                    <div>
                        <table class="periodo-pago centrar-texto" rules="all">
                            <thead class="mayuscula">
                                <tr>
                                    <th>Período Pago</th>
                                    <th>Fecha de Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Abril 2020</td>
                                    <td>02/04/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <table class="lugar-nombre centrar-texto" rules="all">
                        <thead class="mayuscula">
                            <tr>
                                <th>Lugar de Trabajo</th>
                                <th>Apellidos Nombres</th>
                                <th>Legajo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayTextFor(model => model.LugarTrabajo)</td>
                                <td>@Html.DisplayTextFor(model => model.Apellido) @Html.DisplayTextFor(model => model.Nombre)</td>
                                <td>@Html.DisplayTextFor(model => model.Legajo)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <table class="datos-empleado t-small centrar-texto" rules="all">
                        <thead class="mayuscula">
                            <tr>
                                <th>F.Ingr</th>
                                <th>Antig. Reconoc.</th>
                                <th>Fecha Egreso</th>
                                <th>N° de C.U.I.L.</th>
                                <th>Tipo Contrato</th>
                                <th>C.C.T.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayName(Model.FechaIngreso.ToString("dd/MM/yyyy"))</td>
                                <td>@Html.DisplayName(Model.Antiguedad.ToString("dd/MM/yyyy"))</td>
                                <td>
                                    @if (Model.FechaEgreso.HasValue)
                                    {
                                        @Html.DisplayName(Model.FechaEgreso.Value.ToString("dd/MM/yyyy"))
                                    }
                                </td>
                                <td>@Html.DisplayTextFor(model => model.Cuil)</td>
                                <td>T.Indeterminado</td>
                                <td>42/1989</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="dempleado-deposito t-small centrar-texto">
                    <section class="categoria-obra">
                        <table class="cat-fun-tar" rules="all">
                            <thead class="mayuscula">
                                <tr>
                                    <th>Tarea/Sector</th>
                                    <th>Categoría</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayTextFor(model => model.Sector)</td>
                                    <td>@Html.DisplayTextFor(model => model.Categoria)</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="obra-social" rules="all">
                            <thead class="mayuscula">
                                <tr>
                                    <th>Ob. Social</th>
                                    <th>Plan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayTextFor(model => model.ObraSocial)</td>
                                    <td>@Html.DisplayTextFor(model => model.PlanObraSocial)</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="ultimo-deposito">
                        <table rules="all">
                            <caption class="mayuscula">Último depósito provisional</caption>
                            <thead class="mayuscula">
                                <tr>
                                    <th>Banco</th>
                                    <th>Mes</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayTextFor(model => model.NombreBanco)</td>
                                    <td>@Html.DisplayTextFor(model => model.MesUltimoDeposito) </td>
                                    <td>@Html.DisplayName(Model.FechaUltimoDeposito.ToString("dd/MM/yyyy"))</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>

                <table class="resumen t-small" rules="all">
                    <thead class="mayuscula">
                        <tr>
                            <th>Códigos</th>
                            <th>Conceptos</th>
                            <th>Cantidad</th>
                            <th>Remunerac.</th>
                            <th>No remunerac.</th>
                            <th>Descuentos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Sueldo Básico</td>
                            <td>30 días</td>
                            <td>@Html.DisplayTextFor(model => model.SueldoBasico)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Antigüedad</td>
                            <td>@Html.DisplayTextFor(model => model.PorcentajeAntiguedad)<span>,00%</span></td>
                            <td>@Html.DisplayTextFor(model => model.CalculoAntiguedad)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Art. 42 Almuerzo</td>
                            <td></td>
                            <td></td>
                            <td>4000,00</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Jubilación</td>
                            @{
                                var calculoJubilacion = decimal.Round((11 * Model.SueldoBasico / 100), 2);
                            }
                            <td>11,00%</td>
                            <td></td>
                            <td></td>
                            <td>@calculoJubilacion</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Obra Social</td>
                            <td>3,00%</td>
                            <td></td>
                            <td></td>
                            <td>@Html.DisplayTextFor(model => model.CalculoObraSocial)</td>
                        </tr>
                    </tbody>
                </table>

                <table class="totales t-small" rules="all">
                    <thead class="mayuscula">
                        <tr>
                            <th>Lugar de Pago</th>
                            <th colspan="2">Remuneración Disponible</th>
                            <th colspan="3">Totales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@Html.DisplayTextFor(model => model.Remunerativo)</td>
                            <td>4000,00</td>
                            <td>@Html.DisplayTextFor(model => model.NoRemunerativo)</td>
                        </tr>
                        <tr class="total-final">
                            <td colspan="4"><span>En Letras Son Pesos: </span>@Html.DisplayTextFor(model => model.NetoEnLetras) </td>
                            <td class="mayuscula neto-cobrar">Neto a Cobrar</td>
                            <td>@Html.DisplayTextFor(model => model.Neto)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>