@*!
* GlyphIcon v1.0.1 (http://kodefuguru.com/glyphicon)
* Copyright 2014 Chris Eargle
* Licensed under http://opensource.org/licenses/MIT
*@

@helper ByName(string name)
{
    <span class="glyphicon glyphicon-@name"></span>
}

@helper Asterisk()
{
    @GlyphIcon.ByName("asterisk")
}
@helper Plus()
{
    @GlyphIcon.ByName("plus")
}
@helper Euro()
{
    @GlyphIcon.ByName("euro")
}
@helper Minus()
{
    @GlyphIcon.ByName("minus")
}
@helper Cloud()
{
    @GlyphIcon.ByName("cloud")
}
@helper Envelope()
{
    @GlyphIcon.ByName("envelope")
}
@helper Pencil()
{
    @GlyphIcon.ByName("pencil")
}
@helper Glass()
{
    @GlyphIcon.ByName("glass")
}
@helper Music()
{
    @GlyphIcon.ByName("music")
}
@helper Search()
{
    @GlyphIcon.ByName("search")
}
@helper Heart()
{
    @GlyphIcon.ByName("heart")
}
@helper Star()
{
    @GlyphIcon.ByName("star")
}
@helper StarEmpty()
{
    @GlyphIcon.ByName("star-empty")
}
@* Naming this User will hide HelperPage.User *@
@helper UserIcon()
{
    @GlyphIcon.ByName("user")
}
@helper Film()
{
    @GlyphIcon.ByName("film")
}
@helper ThLarge()
{
    @GlyphIcon.ByName("th-large")
}
@helper Th()
{
    @GlyphIcon.ByName("th")
}
@helper ThList()
{
    @GlyphIcon.ByName("th-list")
}
@helper Ok()
{
    @GlyphIcon.ByName("ok")
}
@helper Remove()
{
    @GlyphIcon.ByName("remove")
}
@helper ZoomIn()
{
    @GlyphIcon.ByName("zoom-in")
}
@helper ZoomOut()
{
    @GlyphIcon.ByName("zoom-out")
}
@helper Off()
{
    @GlyphIcon.ByName("off")
}
@helper Signal()
{
    @GlyphIcon.ByName("signal")
}
@helper Cog()
{
    @GlyphIcon.ByName("cog")
}
@helper Trash()
{
    @GlyphIcon.ByName("trash")
}
@helper Home()
{
    @GlyphIcon.ByName("home")
}
@helper File()
{
    @GlyphIcon.ByName("file")
}
@helper Time()
{
    @GlyphIcon.ByName("time")
}
@helper Road()
{
    @GlyphIcon.ByName("road")
}
@helper DownloadAlt()
{
    @GlyphIcon.ByName("download-alt")
}
@helper Download()
{
    @GlyphIcon.ByName("download")
}
@helper Upload()
{
    @GlyphIcon.ByName("upload")
}
@helper Inbox()
{
    @GlyphIcon.ByName("inbox")
}
@helper PlayCircle()
{
    @GlyphIcon.ByName("play-circle")
}
@helper Repeat()
{
    @GlyphIcon.ByName("repeat")
}
@helper Refresh()
{
    @GlyphIcon.ByName("refresh")
}
@helper ListAlt()
{
    @GlyphIcon.ByName("list-alt")
}
@helper Lock()
{
    @GlyphIcon.ByName("lock")
}
@helper Flag()
{
    @GlyphIcon.ByName("flag")
}
@helper Headphones()
{
    @GlyphIcon.ByName("headphones")
}
@helper VolumeOff()
{
    @GlyphIcon.ByName("volume-off")
}
@helper VolumeDown()
{
    @GlyphIcon.ByName("volume-down")
}
@helper VolumeUp()
{
    @GlyphIcon.ByName("volume-up")
}
@helper QrCode()
{
    @GlyphIcon.ByName("qrcode")
}
@helper Barcode()
{
    @GlyphIcon.ByName("barcode")
}
@helper Tag()
{
    @GlyphIcon.ByName("tag")
}
@helper Tags()
{
    @GlyphIcon.ByName("tags")
}
@helper Book()
{
    @GlyphIcon.ByName("book")
}
@helper Bookmark()
{
    @GlyphIcon.ByName("bookmark")
}
@helper Print()
{
    @GlyphIcon.ByName("print")
}
@helper Camera()
{
    @GlyphIcon.ByName("camera")
}
@helper Font()
{
    @GlyphIcon.ByName("font")
}
@helper Bold()
{
    @GlyphIcon.ByName("bold")
}
@helper Italic()
{
    @GlyphIcon.ByName("italic")
}
@helper TextHeight()
{
    @GlyphIcon.ByName("text-height")
}
@helper TextWidth()
{
    @GlyphIcon.ByName("text-width")
}
@helper AlignLeft()
{
    @GlyphIcon.ByName("align-left")
}
@helper AlignCenter()
{
    @GlyphIcon.ByName("align-center")
}
@helper AlignRight()
{
    @GlyphIcon.ByName("align-right")
}
@helper AlignJustify()
{
    @GlyphIcon.ByName("align-justify")
}
@helper List()
{
    @GlyphIcon.ByName("list")
}
@helper IndentLeft()
{
    @GlyphIcon.ByName("indent-left")
}
@helper IndentRight()
{
    @GlyphIcon.ByName("indent-right")
}
@helper FacetimeVideo()
{
    @GlyphIcon.ByName("facetime-video")
}
@helper Picture()
{
    @GlyphIcon.ByName("picture")
}
@helper MapMarker()
{
    @GlyphIcon.ByName("map-marker")
}
@helper Adjust()
{
    @GlyphIcon.ByName("adjust")
}
@helper Tint()
{
    @GlyphIcon.ByName("tint")
}
@helper Edit()
{
    @GlyphIcon.ByName("edit")
}
@helper Share()
{
    @GlyphIcon.ByName("share")
}
@helper Check()
{
    @GlyphIcon.ByName("check")
}
@helper Move()
{
    @GlyphIcon.ByName("move")
}
@helper StepBackward()
{
    @GlyphIcon.ByName("step-backward")
}
@helper FastBackward()
{
    @GlyphIcon.ByName("fast-backward")
}
@helper Backward()
{
    @GlyphIcon.ByName("backward")
}
@helper Play()
{
    @GlyphIcon.ByName("play")
}
@helper Pause()
{
    @GlyphIcon.ByName("pause")
}
@helper Stop()
{
    @GlyphIcon.ByName("stop")
}
@helper Forward()
{
    @GlyphIcon.ByName("forward")
}
@helper FastForward()
{
    @GlyphIcon.ByName("fast-forward")
}
@helper StepForward()
{
    @GlyphIcon.ByName("step-forward")
}
@helper Eject()
{
    @GlyphIcon.ByName("eject")
}
@helper ChevronLeft()
{
    @GlyphIcon.ByName("chevron-left")
}
@helper ChevronRight()
{
    @GlyphIcon.ByName("chevron-right")
}
@helper PlusSign()
{
    @GlyphIcon.ByName("plus-sign")
}
@helper MinusSign()
{
    @GlyphIcon.ByName("minus-sign")
}
@helper RemoveSign()
{
    @GlyphIcon.ByName("remove-sign")
}
@helper OkSign()
{
    @GlyphIcon.ByName("ok-sign")
}
@helper QuestionSign()
{
    @GlyphIcon.ByName("question-sign")
}
@helper InfoSign()
{
    @GlyphIcon.ByName("info-sign")
}
@helper Screenshot()
{
    @GlyphIcon.ByName("screenshot")
}
@helper RemoveCircle()
{
    @GlyphIcon.ByName("remove-circle")
}
@helper OkCircle()
{
    @GlyphIcon.ByName("ok-circle")
}
@helper BanCircle()
{
    @GlyphIcon.ByName("ban-circle")
}
@helper ArrowLeft()
{
    @GlyphIcon.ByName("arrow-left")
}
@helper ArrowRight()
{
    @GlyphIcon.ByName("arrow-right")
}
@helper ArrowUp()
{
    @GlyphIcon.ByName("arrow-up")
}
@helper ArrowDown()
{
    @GlyphIcon.ByName("arrow-down")
}
@helper ShareAlt()
{
    @GlyphIcon.ByName("share-alt")
}
@helper ResizeFull()
{
    @GlyphIcon.ByName("resize-full")
}
@helper ResizeSmall()
{
    @GlyphIcon.ByName("resize-small")
}
@helper ExclamationSign()
{
    @GlyphIcon.ByName("exclamation-sign")
}
@helper Gift()
{
    @GlyphIcon.ByName("gift")
}
@helper Leaf()
{
    @GlyphIcon.ByName("leaf")
}
@helper Fire()
{
    @GlyphIcon.ByName("fire")
}
@helper EyeOpen()
{
    @GlyphIcon.ByName("eye-open")
}
@helper EyeClose()
{
    @GlyphIcon.ByName("eye-close")
}
@helper WarningSign()
{
    @GlyphIcon.ByName("warning-sign")
}
@helper Plane()
{
    @GlyphIcon.ByName("plane")
}
@helper Calendar()
{
    @GlyphIcon.ByName("calendar")
}
@helper Random()
{
    @GlyphIcon.ByName("random")
}
@helper Comment()
{
    @GlyphIcon.ByName("comment")
}
@helper Magnet()
{
    @GlyphIcon.ByName("magnet")
}
@helper ChevronUp()
{
    @GlyphIcon.ByName("chevron-up")
}
@helper ChevronDown()
{
    @GlyphIcon.ByName("chevron-down")
}
@helper Retweet()
{
    @GlyphIcon.ByName("retweet")
}
@helper ShoppingCart()
{
    @GlyphIcon.ByName("shopping-cart")
}
@helper FolderClose()
{
    @GlyphIcon.ByName("folder-close")
}
@helper FolderOpen()
{
    @GlyphIcon.ByName("folder-open")
}
@helper ResizeVertical()
{
    @GlyphIcon.ByName("resize-vertical")
}
@helper ResizeHorizontal()
{
    @GlyphIcon.ByName("resize-horizontal")
}
@helper Hdd()
{
    @GlyphIcon.ByName("hdd")
}
@helper Bullhorn()
{
    @GlyphIcon.ByName("bullhorn")
}
@helper Bell()
{
    @GlyphIcon.ByName("bell")
}
@helper Certificate()
{
    @GlyphIcon.ByName("certificate")
}
@helper ThumbsUp()
{
    @GlyphIcon.ByName("thumbs-up")
}
@helper ThumbsDown()
{
    @GlyphIcon.ByName("thumbs-down")
}
@helper HandRight()
{
    @GlyphIcon.ByName("hand-right")
}
@helper HandLeft()
{
    @GlyphIcon.ByName("hand-left")
}
@helper HandUp()
{
    @GlyphIcon.ByName("hand-up")
}
@helper HandDown()
{
    @GlyphIcon.ByName("hand-down")
}
@helper CircleArrowRight()
{
    @GlyphIcon.ByName("circle-arrow-right")
}
@helper CircleArrowKeft()
{
    @GlyphIcon.ByName("circle-arrow-left")
}
@helper CircleArrowUp()
{
    @GlyphIcon.ByName("circle-arrow-up")
}
@helper CircleArrowDown()
{
    @GlyphIcon.ByName("circle-arrow-down")
}
@helper Globe()
{
    @GlyphIcon.ByName("globe")
}
@helper Wrench()
{
    @GlyphIcon.ByName("wrench")
}
@helper Tasks()
{
    @GlyphIcon.ByName("tasks")
}
@helper Filter()
{
    @GlyphIcon.ByName("filter")
}
@helper Briefcase()
{
    @GlyphIcon.ByName("briefcase")
}
@helper Fullscreen()
{
    @GlyphIcon.ByName("fullscreen")
}
@helper Dashboard()
{
    @GlyphIcon.ByName("dashboard")
}
@helper Paperclip()
{
    @GlyphIcon.ByName("paperclip")
}
@helper HeartEmpty()
{
    @GlyphIcon.ByName("heart-empty")
}
@helper Link()
{
    @GlyphIcon.ByName("link")
}
@helper Phone()
{
    @GlyphIcon.ByName("phone")
}
@helper Pushpin()
{
    @GlyphIcon.ByName("pushpin")
}
@helper Usd()
{
    @GlyphIcon.ByName("usd")
}
@helper Gbp()
{
    @GlyphIcon.ByName("gbp")
}
@helper Sort()
{
    @GlyphIcon.ByName("sort")
}
@helper SortByAlphabet()
{
    @GlyphIcon.ByName("sort-by-alphabet")
}
@helper SortByAlphabetAlt()
{
    @GlyphIcon.ByName("sort-by-alphabet-alt")
}
@helper SortByOrder()
{
    @GlyphIcon.ByName("sort-by-order")
}
@helper SortByOrderAlt()
{
    @GlyphIcon.ByName("sort-by-order-alt")
}
@helper SortByAttributes()
{
    @GlyphIcon.ByName("sort-by-attributes")
}
@helper SortByAttributesAlt()
{
    @GlyphIcon.ByName("sort-by-attributes-alt")
}
@helper Unchecked()
{
    @GlyphIcon.ByName("unchecked")
}
@helper Expand()
{
    @GlyphIcon.ByName("expand")
}
@helper CollapseDown()
{
    @GlyphIcon.ByName("collapse-down")
}
@helper CollapseUp()
{
    @GlyphIcon.ByName("collapse-up")
}
@helper LogIn()
{
    @GlyphIcon.ByName("log-in")
}
@helper Flash()
{
    @GlyphIcon.ByName("flash")
}
@helper LogOut()
{
    @GlyphIcon.ByName("log-out")
}
@helper NewWindow()
{
    @GlyphIcon.ByName("new-window")
}
@helper Record()
{
    @GlyphIcon.ByName("record")
}
@helper Save()
{
    @GlyphIcon.ByName("save")
}
@helper Open()
{
    @GlyphIcon.ByName("open")
}
@helper Saved()
{
    @GlyphIcon.ByName("saved")
}
@helper Import()
{
    @GlyphIcon.ByName("import")
}
@helper Export()
{
    @GlyphIcon.ByName("export")
}
@helper Send()
{
    @GlyphIcon.ByName("send")
}
@helper FloppyDisk()
{
    @GlyphIcon.ByName("floppy-disk")
}
@helper FloppySaved()
{
    @GlyphIcon.ByName("floppy-saved")
}
@helper FloppyRemove()
{
    @GlyphIcon.ByName("floppy-remove")
}
@helper FloppySave()
{
    @GlyphIcon.ByName("floppy-save")
}
@helper FloppyOpen()
{
    @GlyphIcon.ByName("floppy-open")
}
@helper CreditCard()
{
    @GlyphIcon.ByName("credit-card")
}
@helper Transfer()
{
    @GlyphIcon.ByName("transfer")
}
@helper Cutlery()
{
    @GlyphIcon.ByName("cutlery")
}
@helper Header()
{
    @GlyphIcon.ByName("header")
}
@helper Compressed()
{
    @GlyphIcon.ByName("compressed")
}
@helper Earphone()
{
    @GlyphIcon.ByName("earphone")
}
@helper PhoneAlt()
{
    @GlyphIcon.ByName("phone-alt")
}
@helper Tower()
{
    @GlyphIcon.ByName("tower")
}
@helper Stats()
{
    @GlyphIcon.ByName("stats")
}
@helper SdVideo()
{
    @GlyphIcon.ByName("sd-video")
}
@helper HdVideo()
{
    @GlyphIcon.ByName("hd-video")
}
@helper Subtitles()
{
    @GlyphIcon.ByName("subtitles")
}
@helper SoundStereo()
{
    @GlyphIcon.ByName("sound-stereo")
}
@helper SoundDolby()
{
    @GlyphIcon.ByName("sound-dolby")
}
@helper Sound5()
{
    @GlyphIcon.ByName("sound-5-1")
}
@helper Sound6()
{
    @GlyphIcon.ByName("sound-6-1")
}
@helper Sound7()
{
    @GlyphIcon.ByName("sound-7-1")
}
@helper CopyrightMark()
{
    @GlyphIcon.ByName("copyright-mark")
}
@helper RegistrationMark()
{
    @GlyphIcon.ByName("registration-mark")
}
@helper CloudDownload()
{
    @GlyphIcon.ByName("cloud-download")
}
@helper CloudUpload()
{
    @GlyphIcon.ByName("cloud-upload")
}
@helper TreeConifer()
{
    @GlyphIcon.ByName("tree-conifer")
}
@helper TreeDeciduous()
{
    @GlyphIcon.ByName("tree-deciduous")
}